@import "temp.scss";

.main {
    background-image: url(../img/fone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 99%;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.601);
    }

    .main__left-bar {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);

        button {
            position: absolute;
            transform: translateY(-50%);
            border-radius: 50%;
            cursor: pointer;
            font-size: 20px;
            color: $white;
            background-color: $pink;
            text-shadow: 0 0 5px $black;
            transition: 0.7s;

            &:nth-child(1) {
                z-index: 1;
                width: 60px;
                height: 60px;
                padding: 10px;

                &:hover {
                background-color: $white;
                box-shadow: 0 0 5px $white;
                color: $black;
                text-shadow: none;
            }
            }

            &:nth-child(2) {
                width: 50px;
                height: 50px;
                transition: 0.5s;

                &.active {
                    transform: translate(90px, -25px);
                }

                &:hover {
                    text-shadow: 0 0 30px $pink;

                }
            }

            &:nth-child(3) {
                width: 50px;
                height: 50px;
                transition: 0.5s;

                &.active {
                    transform: translate(35px, 55px);
                }

                &:hover {
                    text-shadow: 0 0 30px $pink;

                }
            }

            &:nth-child(4) {
                width: 50px;
                height: 50px;
                transition: 0.5s;

                &.active {
                    transform: translate(35px, -100px);
                }

                &:hover {
                    text-shadow: 0 0 30px $pink;

                }
            }
        }
    }

    .main__image {
        width: 30%;
        height: 400px;
        z-index: 1;
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            position: absolute;
            top: 0;
            right: -100%;
            z-index: 0;

            &.active {
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        .image__right {
            background-image: url(../img/right.png);
            background-position: center;
            background-size: cover;
            width: 40px;
            height: 40px;
            position: absolute;
            right: 10px;
            top: 50%;
            background-color: $white;
            border-radius: 50%;
            cursor: pointer;
            z-index: 2;
        }

        .image__left {
            background-image: url(../img/left.png);
            background-position: center;
            background-size: cover;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 10px;
            top: 50%;
            background-color: $white;
            border-radius: 50%;
            cursor: pointer;
            z-index: 2;
        }
    }

    .main__text {
        margin: 0 70px 25px 80px;
        width: 40%;
        z-index: 1;

        h2 {
            font-size: 50px;
            margin-bottom: 20px;
            color: $pink-text;
            text-shadow: 0 0 3px $black;
            letter-spacing: 3px;
        }

        p {
            color: $white;
            width: 80%;
            line-height: 20px;
            letter-spacing: 2px;
            margin-bottom: 20px;
        } 
    }
}

@keyframes animate-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate-right-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes animate-right-in {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.text__btn {
    padding: 11px 15px;
    background-color: $pink;
    color: $white;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 0 0 5px $black;
    font-size: 17px;
    transition: 0.7s;

    &:hover {
        background-color: $white;
        box-shadow: 0 0 10px $white;
        color: $black;
        text-shadow: none;
    }
}

@media screen and (max-width:1140px) {

    .main {
        height: 700px;
        flex-direction: column;

        .main__text {
            width: 90%;
            text-align: center;
            margin: 0 0 15px 0;

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 16px;
                width: 100%;
            }

            .text__btn {
                font-size: 14px;
            }
        }

        .main__image {
            height: 300px;

        }

    }
    
}

@media screen and (max-width:800px) {
    .main {

        .main__text {

            h2 {
                font-size: 30px;
            }
    
            p {
                font-size: 12px;
            }

            .text__btn {
                font-size: 11px;
            }
        }

        .main__image {
            height: 300px;
            width: 40%;

        }

        .main__left-bar {
            left: 5%   ;
            top: 94%;
            
            button {
                &:nth-child(2) {

                    &.active {
                        transform: translate(80px, -25px);
                    }

                }

                &:nth-child(3) {

                    &.active {
                        transform: translate(140px, -25px);
                    }

                }

                &:nth-child(4) {

                    &.active {
                        transform: translate(200px, -25px);
                    }

                }
            }
        }
    }
}

@media screen and (max-width:800px) {

    .main {

        .main__image {
            height: 200px;
        }
    }
}